/* .slick-prev {
  left: 3%;
  z-index: 1;
  border-radius: 70%;
  background-color: rgba(100, 99, 99, 0);
}
.slick-next {
  right: 3%;
  z-index: 1;
  border-radius: 70%;
  background-color: black;
} */
