/* .slick-prev {
  left: 3%;
  z-index: 1;
  border-radius: 500%;
  background-color: black;
  fill: blue;
  display: inline-block;
}
.slick-next {
  right: 3%;
  z-index: 1;
  border-radius: 50%;
  background-color: black;
  fill: blue;
  display: inline-block;
} */
